<%= render 'shared/logintest' %>
<div class="container-fluid" id="content">
  <div class="doc extra-entry">
    <div class="container-inner inner-md thin mobile">
      <div class="box box-md radius-zero markdown wow fadeInUp">
        <div class="box-inner inner-md">
<!--- 確認 --->




<!--- 確認 --->
<hr >
<!--- 検索部分 --->



<%# search_form_for @search,url: root_path do |f| %>
<%= search_form_for @search,url: search_path do |f| %>
  <%= f.label :summary_cont, 'タイトル' %>
  <%= f.text_field :title_cont %>  
  <%= f.label :summary_cont, 'サマリー' %>  
  <%= f.text_field :summary_cont %>
  <%= f.label :jobtitle01_cont, '募集職種１' %>  
  <%= f.text_field :jobtitle01_cont %>  
  <%= f.label :jobtitle01_cont, 'カテゴリ' %>  
  <%= f.text_field :categories_name_cont %>    


    <%= f.submit 'search' %>
  <%= @search %>
<% end %>
<!--- 検索部分END --->

<%= sort_link @search,:id, "idでソート" %>
<%= sort_link @search,:enddate, "終了日でソート" %>


総登録求人数：<%= @campaigns.count %>件<br >
<%= @camp_cates %>

<% @campaigns.each do |camp| %>
<% if camp.startdate <= Date.today and camp.enddate >= Date.today and camp.opflg == "1" %>
<%= camp.id %>
<%= camp.client_id %>
<%= camp.title %>
<%= camp.summary %>
<%= camp.content %>
<%= camp.startdate %>
<%= camp.enddate %>
<%= camp.limage %>
<%= camp.image1 %>
<%= camp.image2 %>
<%= camp.image3 %>
<%= camp.image4 %>
<%= camp.youtube %>
<%= camp.category %>
<%= camp.jobtitle01 %>
<%= camp.jobtitle02 %>
<%= camp.jobtitle03 %>
<%= camp.auth %>
<%= camp.offce_name %>
<%= camp.offce_postel %>
<%= camp.offce_address01 %>
<%= camp.offce_address02 %>
<%= camp.offce_address03 %>
<%= camp.offce_address04 %>
<%= camp.mycar %>
<%= camp.station %>
<%= camp.mapinfo %>
<%= camp.koyokeitai %>
<%= camp.koyokikan %>
<%= camp.salary %>
<%= camp.salary_remarks %>
<%= camp.socialsecurity %>
<%= camp.commuting_expenses %>
<%= camp.promote %>
<%= camp.retirement_salary %>
<%= camp.allowance %>
<%= camp.emp_remarks %>
<%= camp.worktime %>
<%= camp.breaktime %>
<%= camp.overtime %>
<%= camp.holiday %>
<%= camp.annual_holiday %>
<%= camp.job_description %>
<%= camp.workflow %>
<%= camp.licence %>
<%= camp.skill %>
<%= camp.qualification %>
<%= camp.age_criteria %>
<%= camp.in_charge %>
<%= camp.apply_tel %>
<%= camp.apply_email %>
<%= camp.apply_how %>
<%= camp.apply_flow %>
<%= camp.apply_remarks %>
<%= camp.category_ids %>





<%= camp.opflg %>
<% @camps = Campaign.where(id: camp.id).first.categories %>
<% @camps.each do |f| %>        
<%= f.name %> 
<% end %>
<%= link_to "詳細", campaign_path(camp.id) %>
<% if user_logged_in? %>
返信する
<% end %>
<br />
<hr>
<% end %>
<% end %>

<hr>
現状は、campaign自体がクライアントに紐づいて処理をされてしまっている。
つまり、current_clientがいないとエラーになる。
  def show
     @campaign = current_client.campaigns.find_by(id: params[:id])
#    @campaigns = @client.campaigns

    end
    
→一応直してみたが、Clientが異なったとき位URL直タタキで編集とかできてしまうか、要確認。

Userのshowはhas_one belongs_toのアソシエーションを利用していない。これでいいのか不明。
  def show
    @user = User.find(params[:id])
    @resume = Resume.find(params[:id])
  end

<hr >
ログアウトしても、Clients/1を直接たたくとも見れてしまう。
<hr >

本来的にここにでるもの。
サーチ
リスト表示

</div>
</div>
</div>
</div>
</div>