<%= render 'shared/logintest' %>
<div class="container-fluid">


<!--- 確認 --->




<!--- 確認 --->
<hr >
<!--- 検索部分 --->

総登録求人数(全部の登録件数）：
<%= @campcount %>件<br >

<%# search_form_for @search,url: root_path do |f| %>
<%= search_form_for @search,url: search_path do |f| %>
 
  <%= f.label :office_address01_cont, '都道府県' %>  
  <%= f.text_field :office_address01_cont %>
  <%= f.label :categories_name_cont, '募集職種' %>  
  <%= f.text_field :categories_name_cont %>
  <%= f.label :koyokeitai_cont, '雇用形態' %>  
  <%= f.text_field :koyokeitai_cont %>
<br >
<%= collection_check_boxes(:campaign, :category_ids, Category.where("genre1 = '1'"), :id, :name ,) do |b| %>
<%= check_box_tag 'q[categories_name_cont]', b.object.name %>
<%= b.object.name %>
<% end %>
<br >
<%= collection_check_boxes(:campaign, :category_ids, Category.where("genre1 = '2'"), :id, :name ,) do |b| %>
<%= check_box_tag 'q[categories_name_cont]', b.object.name %>
<%= b.object.name %>
<% end %>
<br >
<%= collection_check_boxes(:campaign, :category_ids, Category.where("genre1 = '3'"), :id, :name ,) do |b| %>
<%= check_box_tag 'q[categories_name_cont]', b.object.name %>
<%= b.object.name %>
<% end %>


<br >


    <%= f.submit 'search' %>

<% end %>
<!--- 検索部分END --->





<hr>


<hr >
ログアウトしても、Clients/1を直接たたくとも見れてしまう。
<hr >





</div>