<%= render 'shared/logintest' %>
<!--- 確認 --->

<h1>の検索結果</h1>
     <div class="container-fluid"> 
      <div class="col-md-3 border" id="leftCol">
aaa
     
     </div>
      <div class="col-md-9 border" id="rightCol">
<div class="breadcrumb boader"><%= breadcrumb :issues %></div>

<%= sort_link @search,:id, "idでソート" %>
<%= sort_link @search,:enddate, "終了日でソート" %>

<%= render(@campaigns) %>
    <div class="row">
        <div class="col-md-12 pagination-centered border">
        <%= paginate @campaigns %>
        </div>
    </div>
</div> 
