<%= render 'shared/logintest' %>
<div class="container-fluid"> 
	<div class="row">
	    <div class="col-md-12">
<!--- 確認 --->
            総登録求人数(全部の登録件数）：<%= @campcount %>件<br >

            <h1>の検索結果</h1>
        </div>
            <div class="col-md-3 border" id="leftCol">
                aaa
            </div>
            <div class="col-md-9 border" id="rightCol">

                <%# sort_link @search,:id, "idでソート" %>
                <%# sort_link @search,:startdate, "Start日でソート" %>

                <%= render(@campaigns) %>
                <div class="row">
                    <div class="col-md-12 pagination-centered">
                        <%= paginate @campaigns %>
                    </div>
                 </div>
            </div>
    </div> 
</div> 

<% @hws.each do |hw| %>
<hr>
<%= hw.hwnum %>
<%= hw.hwtype %>
<%= hw.hwjigyousyo %>
<%= hw.hwjigyousyoaddress %>
<%= hw.hwjigyousyotel %>
<%= hw.hwjigyousyofax %>
<%= hw.hwjigyounaiyou %>
<%= hw.hwsyokusyu %>
<%= hw.hwkoyoukeitai %>
<%= hw.hwsangyo %>
<%= hw.hwsyugyoukeitai %>
<%= hw.hwkoyoukikan %>
<%= hw.hwnennrei %>
<%= hw.hwnennreiriyuu %>
<%= hw.hwsyugyoujikan %>
<%= hw.hwkyukeijikan %>
<%= hw.hwjikangai %>
<%= hw.hwroudounissuu %>
<%= hw.hwsalarytype %>
<%= hw.hwbonus %>
<%= hw.hwkyujitsu %>
<%= hw.hwsyukyu %>
<%= hw.hwnenkankyujitsu %>
<%= hw.hwikukyu %>
<%= hw.hwtakuji %>
<%= hw.hwworkplace %>
<%= hw.hwensen %>
<%= hw.hwtenkin %>
<%= hw.hwjyugyouin %>
<%= hw.hwhoken %>
<%= hw.hwteinen %>
<%= hw.hwsaikoyou %>
<%= hw.hwjyutaku %>
<%= hw.hwmycar %>
<%= hw.hwtsukin %>
<%= hw.hwsaiyoninzu %>
<%= hw.hwshigotonaiyou %>
<%= hw.hwgakureki %>
<%= hw.hwkeiken %>
<%= hw.hwmenkyo %>
<%= hw.hwtokki %>
<%= hw.hwbikou %>
<%= hw.hwjyuribi %>
<%= hw.hwkigenbi %>
<%= hw.hwjyurianteijo %>
<hr>
<% end %>