<% if Resume.where(user_id: @user.id ).exists? %>
<%= @msg %>
<% @resume = Resume.find_by(user_id: @user.id) %>
<%= @resume.inspect %>
<% else %>
<%= @msg %>
<% end %>

<div class="col-md-9 border" id="leftCol">

<h1>
<%= @user.name %></h1>



<!-- /sectionW -->
<div class="well">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-default btn-lg" style="background:white;">
                  <span class="glyphicon glyphicon-user" style="font-size:60px; color:grey;"></span> 
                </button>
            </div>
            <div class="col-md-8">
              <p class="h4"><%= link_to "基本情報", edit_user_path(@user) %> </p>
              <span class="h5">氏名、メールアドレス、パスワードなどが設定できます。</span>              
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>  
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-default btn-lg" style="background:white;">
                  <span class="glyphicon glyphicon-list-alt" style="font-size:60px; color:grey;"></span> 
                </button>
            </div>
            <div class="col-md-8">
              <p class="h4"><% if Resume.where(user_id: @user.id ).exists? %> <%= link_to "履歴書", edit_resume_path(@resume) %><% else %> <%= link_to "履歴書", new_resume_path(@resume) %><% end %>  </p>
              <span class="h5">履歴書の確認・変更が設定できます。採用企業からスカウトを受けるには履歴書の登録が必要です。</span>              
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>  
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-default btn-lg" style="background:white;">
                  <span class="glyphicon glyphicon-envelope" style="font-size:60px; color:grey;"></span> 
                </button>
            </div>
            <div class="col-md-8">
              <p class="h4">応募情報一覧・お祝い金申請 </p>
              <span class="h5">応募した情報が確認できます。また、お祝い金の申請はここから行えます。</span>              
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>  
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-default btn-lg" style="background:white;">
                  <span class="glyphicon glyphicon-user" style="font-size:60px; color:grey;"></span> 
                </button>
            </div>
            <div class="col-md-8">
              <p class="h4">検討中フォルダ</p>
              <span class="h5">検討中の求人情報をストックできます。</span>              
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>  
</div>


</div>
<div class="col-md-3" id="rightCol">
    ああああ
</div>








