

<%# if campaign.startdate <= Date.today and campaign.enddate >= Date.today and campaign.opflg == '1' %>




 <% if current_admin != nil and current_admin == @admin %>
 ここはアドミンでログインした時だけ見れます。
 <%= current_admin.inspect %>
 <%= @admin.inspect %>
 <span class="title">キャンペーンID:<%= campaign.id %></span>
 <span class="title">クライアントID:<%= campaign.client_id %></span>
 <% end %>






  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
            
                  <span style="width:60px; height:60px; color:grey;">
                    <%= link_to image_tag(campaign.limage_url.to_s ,:size => '120x90'), campaign_path(campaign.id) %> 
                  </span> 
   
            </div>
            <div class="col-md-10">
              <span class="h3"> <%= link_to (campaign.title), campaign_path(campaign.id) %></span> <br >
              <span class="small"><%= campaign.startdate.strftime("%Y年%m月%d日") %>～<%= campaign.enddate.strftime("%Y年%m月%d日") %></span>  <br >
              <span class="h5"><%= campaign.summary %></span>  <br >
               <%= link_to "詳細", campaign_path(campaign.id) %>
               <% @camps = Campaign.where(id: campaign.id).first.categories %>
       

            <div><span class="glyphicon glyphicon-tags"></span>
            
            
            
            <% @camps = Campaign.where(id: campaign.id).first.categories %>
            <% @camps.each do |f| %>  
 
            
            <span class="label label-info"><a href="../search?utf8=✓&q%5Bcategories_name_cont%5D=<%= f.name %>&amp;commit=search"><%= f.name %></a></span>            <% end %>
            
            
            
            </div>
            
           </div>
          </div>
        </div>
      </div>
    </div>  
  </div> 



















<%# end %>

