<% if client_logged_in? %>
<%= nested_form_for @campaign, :html => {:multipart => true, :class => 'h-adr'} do |f| %> 

<div class="row">
  <div class="col-md-12">
  <%= render 'shared/error_messages', object: f.object %>
    <div class="table-responsive" itemscope="" itemtype="http://schema.org/Organization">
       <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="" colspan="2">求人広告掲載期間</td>
            </tr>
            <tr>
              <td class="">求人ID(自動付与されます）</td>
              <td class="">-</td>
            </tr>
            <tr>
              <td class="">掲載プラン<span class="">※</span></td>
              <td class="">Aプラン　成功報酬額：50,000円（お祝い金5000円）→最後に出したほうが良い？？</td>
            </tr>
            <tr>
              <td class="" rowspan="2"><%= f.label :startdate, "掲載期間" %><span class="point1">※</span></td>
              <td class="">        
              <span class="input-group date datepicker1">
                   <%= f.label :スタート予定日 %>
                   <%= f.text_field :startdate, :class => "datepicker1" %>
                </span>
                   〜   
                 <span class="input-group date datepicker2">                
                   <%= f.label :終了予定日 %>
                   <%= f.text_field :enddate, :class => "datepicker2" %>
                </span>
 <div class="input-daterange input-group" id="datepicker">
    <input type="text" class="input-sm form-control" name="start" />
    <span class="input-group-addon">to</span>
    <input type="text" class="input-sm form-control" name="end" />
</div>
                   
                </td>
            </tr>
            <tr>
              <td class=""> ※掲載日は当日から指定できますが、ドラジョブ事務局の承認が下りるまでは掲載スタートされません。尚、広告原稿の審査は1営業日で完了致します。なお、無期限に設定すると基本的に掲載し続けます。
                ※原稿を編集した場合は、審査が必要となるため、1営業日程お時間を頂きます。 </td>
            </tr>
          </tbody>
        </table>
 <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="" colspan="2">求人広告詳細</td>
            </tr>
            <tr>
            <td class=""><%= f.label :title, "募集タイトル" %></td>
                （20文字以内）<span class="point1">※</span></td>
              <td class="">    <%= f.text_field :title, :size => "80x3",  placeholder: "求人広告タイトル" %>

                例）業務拡大につき、路線バス運転手大募集！</td>
            </tr>
            <tr>
              <td class=""><%= f.label :summary, "募集の背景" %><br>
                （300文字以内）<span class="">※</span></td>
              <td class=""><%= f.text_area :summary, :size => "100x5",  placeholder: "募集の背景" %>
                <br>
                例）業務拡大につき、路線バス運転手大募集！</td>
            </tr>
            <tr >
            <td class=""><%= f.label :category_ids, "募集職種" %></td>
                <span class="">検索結果表示項目</span></td>
              <td class="">
  
<%= f.label :専門領域1 %>
<%= collection_select(:campaign, :category_ids , Category.where("genre1 = '1'"), :id, :name, {prompt: "Select Permission Level"}, {:name =>'campaign[category_ids][]'} ) %>
<%= collection_select(:campaign, :category_ids , Category.where("genre1 = '2'"), :id, :name, {prompt: "Select Permission Level"}, {:name =>'campaign[category_ids][]'} ) %>
<%= collection_select(:campaign, :category_ids , Category.where("genre1 = '3'"), :id, :name, {prompt: "Select Permission Level"}, {:name =>'campaign[category_ids][]'} ) %>


 http://rubyist.g.hatena.ne.jp/yamaz/20061018
 
 <%# f.select :campaign, :category_ids,  Category.where("genre = '1'"), {prompt: "Select Permission Level"}, {:multiple => true, class: "input-lg"} %>
 
 
 
    <%# f.label :専門領域1 %>
    <%# collection_select(:campaign, :category_ids, Category.where("genre = '2'"), :id, :name, :include_blank => true) %>
    
    <%# f.label :専門領域1 %>
    <%# collection_select(:campaign, :category_ids, Category.where("genre = '3'"), :id, :name, :include_blank => true) %>    
    
    



              <div class=""> <span class="">大カテゴリ</span>
                  <select name="" class="">
                    <option value="">▼選択</option>
                    <option value="1">タクシー・ハイヤードライバー</option>
                    <option value="2">バス乗務員</option>
                    <option value="3">トラックドライバー</option>
                    <option value="4">セールスドライバー</option>
                    <option value="5">特殊車両</option>
                  </select>
                  <span class="">小カテゴリ</span>
                  <select name="" class="">
                    <option value="">▼選択</option>
                    <option value="11">タクシー乗務員</option>
                    <option value="12" selected="selected">ハイヤー</option>
                    <option value="13">役員付き運転手</option>
                    <option value="14">その他</option>
                  </select>
                </div>
                <div class=""> <span class="">大カテゴリ</span>
                  <select name="" class="">
                    <option value="">▼選択</option>
                    <option value="1">タクシー・ハイヤードライバー</option>
                    <option value="2">バス乗務員</option>
                    <option value="3">トラックドライバー</option>
                    <option value="4">セールスドライバー</option>
                    <option value="5">特殊車両</option>
                  </select>
                  <span class="">小カテゴリ</span>
                  <select name="" class="">
                    <option value="">▼選択</option>
                    <option value="11">タクシー乗務員</option>
                    <option value="12" >ハイヤー</option>
                    <option value="13">役員付き運転手</option>
                    <option value="14">その他</option>
                  </select>
                </div>
                <div class=""> <span class="">大カテゴリ</span>
                  <select name="" class="">
                    <option value="">▼選択</option>
                    <option value="1">タクシー・ハイヤードライバー</option>
                    <option value="2">バス乗務員</option>
                    <option value="3">トラックドライバー</option>
                    <option value="4">セールスドライバー</option>
                    <option value="5">特殊車両</option>
                  </select>
                  <span class="">小カテゴリ</span>
                  <select name="" class="">
                    <option value="">▼選択</option>
                    <option value="11">タクシー乗務員</option>
                    <option value="12" >ハイヤー</option>
                    <option value="13">役員付き運転手</option>
                    <option value="14">その他</option>
                  </select>
                </div>
                <p class="">※最大３つ設定できます。当方で判断して、別カテゴリに移動することもあります。</p></td>
            </tr>
              

          <tr>
              <td class="" colspan="2">求人広告詳細</td>
            </tr>
            
            <tr>
            <td class=""><%= f.label :content, "求人広告概要" %></td>
                （200文字以内）<span class="">※</span></td>
              <td class=""><%= f.text_area :content, :size => "80x3", placeholder: "アピール枠にするか？？" %>
                <br>
                例）当社は、設立●●年以来、関東・東北・●●拠点体制で、●●・●●部品専門の物流サービスを展開してきました。ここ数年の経済情勢の変化にも柔軟に対応！企業の利益確保・物流コスト削減に成功し、数々の大手顧客の信頼を獲得しました。 </td>
            </tr>
            <tr>
             <td class=""><%= f.label :howmany, "採用人数" %></td>
              <td class="">
                <span class=""><%= f.text_field :howmany, :size => "5", placeholder: "採用人数" %>人</span></td>
            </tr>
 
            <tr>
              <td class="3_b" colspan="2">勤務先情報</td>
            </tr>
   
            <tr>
             <td class=""><%= f.label :office_name, "勤務地名称" %></td>
              <td class=""><span class="point1">登録時の会社名と異なる場合は変更ください。</span><br>
               <%= f.text_field :office_name, placeholder: "office_name" %>
                <br>
                例）ドラジョブ運送東京営業所</td>
            </tr>
            <tr>
             <td class=""><%= f.label :office_address, "勤務地所在地" %></td>
                <span class="">検索結果表示項目</span></td>
              <td class=""><span class="point1">登録時の住所と異なる場合は変更ください。</span><br>
                <span class="point2">〒</span>
               <%# f.text_field :office_postel, placeholder: "office_postel" %>
                <span class="point2">-</span>
                 <span class="p-country-name" style="display:none;">Japan</span>




<!-- </form> --> 
 <span class="p-country-name" style="display:none;">Japan</span>

<!--
  〒<input type="text" class="p-postal-code" size="3" maxlength="3">
  <input type="text" class="p-postal-code" size="4" maxlength="4"><br> -->
<%= f.text_field :office_postel, :class => "p-postal-code", :size => "3", :maxlength =>"3" %>
<%= f.text_field :office_postel02, :class => "p-postal-code", :size => "4", :maxlength =>"4" %><br >
<%= f.text_field :office_address01, :class => "p-region" %><br >
<%= f.text_field :office_address02, :class => "p-locality" %><br >
<%= f.text_field :office_address03, :class => "p-street-address" %><br >
<%= f.text_field :office_address04, :class => "p-extended-address" %><br >             
                
      
            
                <br>
                市区町村郡<span class="">
                  
                <%# f.text_field :officeaddress, placeholder: "office_address2", :multiple => true %>
                </span>例）江戸川区<br>
                番地・建物<span class="">
               <%# f.text_field :officeaddress, placeholder: "office_address3", :multiple => true %>
               <%# f.text_field :officeaddress, placeholder: "office_address4", :multiple => true %>
                </span>例）松江7-55-2 </td>



 
            </tr>
            <tr>
              <td class=""><%= f.label :station, "最寄駅" %></td>
              <td class=""><%= f.text_field :station, placeholder: "最寄駅" %></td>
            </tr>
            <tr>
              <td class=""><%= f.label :mycar, "マイカー通勤" %></td>
                <span class="">検索結果表示項目</span></td>
              <td class="">         
                  <%= f.radio_button :mycar, 1 %>可
                  <%= f.radio_button :mycar, 0 %>不可<br />
                </td>

            </tr>


            
            
            
            <tr>
              <td class=""><%= f.label :auth, "事業所認定" %></td>
              <td class="">
                
   

<%= f.check_box :auth, {:name =>'campaign[auth][]'} ,checked_value = "ISO", nil %>ISO
<%= f.check_box :auth, {:name =>'campaign[auth][]'} ,checked_value = "AAA", nil %>AAA
<%= f.check_box :auth, {:name =>'campaign[auth][]'} ,checked_value = "AA", nil %>AA
<%= f.check_box :auth, {:name =>'campaign[auth][]'} ,checked_value = "Gマーク", nil %>Gマーク
<%= f.check_box :auth, {:name =>'campaign[auth][]'} ,checked_value = "グリーン経営", nil %>グリーン経営

<%= f.text_field :auth, :name =>'campaign[auth][]' , :class => "form-control", :size => "20", :maxlength =>"100" , placeholder: "その他補足があればご記入下さい" %>
           </td>
            </tr>
            <tr>
              <td class="3_b" colspan="2">雇用条件</td>
            </tr>
            <tr>
              <td><%= f.label :koyokeitai , "雇用形態" %></td>
                
              <td><%= f.select "koyokeitai" , %w(正社員 契約社員 派遣社員 パート・アルバイト その他) , :include_blank => "雇用形態をお選びください" %></td>
            </tr>
            <tr>
              <td><%= f.label :koyokikan , "雇用期間" %></td>
              <td>
              <%= f.select "koyokikan" , %w(常用雇用 臨時雇用 その他) , :include_blank => "雇用期間をお選びください" %>
              

                その他補足があればご記入下さい（該当フォーム無し）
                <input type="text" name="" class="itxt1" value=""></td>
            </tr>
            <tr>
              <td><%= f.label :salary_remarks , "給与形態" %></td>
              <td> <%= f.select "salary_remarks" , %w(時給制 日給制 月給制 日給月給制 年棒制 その他) , :include_blank => "給与形態をお選びください" %>
                その他補足があればご記入下さい（該当フォーム無し）
                <input type="text" name="" class="itxt1" value=""></td>
            </tr>
            <tr>
              <td><%= f.label :salary , "給与" %>入れ方工夫</td>
              <td><%= f.text_field :salary, placeholder: "salary" %></td>
            </tr>
            <tr>
              <td class=""><%= f.label :socialsecurity , "社会保険" %><br>
                <span class="">検索結果表示項目</span></td>
              <td class="">
              
<%= f.check_box :socialsecurity, {multiple: true},checked_value = "雇用保険", nil %>雇用保険
<%= f.check_box :socialsecurity, {multiple: true},checked_value = "健康保険", nil %>健康保険
<%= f.check_box :socialsecurity, {multiple: true},checked_value = "労災保険", nil %>労災保険
<%= f.check_box :socialsecurity, {multiple: true},checked_value = "厚生年金", nil %>厚生年金

     </td>
            </tr>
            <tr>
              <td class=""><%= f.label :commuting_expenses , "待遇［通勤費］" %><br>
                <span class="">検索結果表示項目</span></td>
              <td class="">
                <%= f.radio_button :commuting_expenses, 1 %>有り
                <%= f.radio_button :commuting_expenses, 0 %>無し
              </td>
            </tr>
            <tr>
              <td class=""><%= f.label :promote , "待遇［昇給］" %><br>
                <span class="">検索結果表示項目</span></td>
              <td class="">
                <%= f.radio_button :promote, 1 %>有り
                <%= f.radio_button :promote, 0 %>無し
                </td>
            </tr>
            <tr>
              <td class=""><%= f.label :shouyo , "待遇［昇給］" %><br>
                <span class="">検索結果表示項目</span></td>
              <td class="">
                <%= f.radio_button :shouyo, 1 %>有り
                <%= f.radio_button :shouyo, 0 %>無し
                </td>
            </tr>
            <tr>
              <td class=""><%= f.label :retirement_salary , "待遇［昇給］" %><br>
                <span class="">検索結果表示項目</span></td>
              <td class="">
                <%= f.radio_button :retirement_salary, 1 %>有り
                <%= f.radio_button :retirement_salary, 0 %>無し</td>
            </tr>
            <tr>
              <td class=""><%= f.label :allowance , "諸手当" %></td>
              <td class="">
                <%= f.text_area :allowance,:size => "80x3", placeholder: "allowance" %></td>
            </tr>
            <tr>
              <td class=""><%= f.label :emp_remarks , "雇用に関する備考" %></td>
              <td class=""><%= f.text_area :emp_remarks, :size => "80x3", placeholder: "emp_remarks" %></textarea></td>
            </tr>


           
            <tr>
              <td class="" colspan="2">勤務条件</td>
            </tr>
            <tr>
              <td class=""><%= f.label :worktime, "勤務時間" %></td>
              <td class=""><%= f.text_area :worktime,:size => "80x3", placeholder: "勤務時間" %>
                <br>
                例）13:00〜21:00 </td>
            </tr>
            <tr>
              <td class=""><%= f.label :brektime, "休憩時間" %></td>
              <td class=""><%= f.text_field :breaktime, placeholder: "休憩時間" %>
                例）60分</td>
            </tr>
            <tr>
              <td class=""><%= f.label :overtime, "時間外" %></td>
              <td class=""><%= f.text_field :overtime, placeholder: "例）月30時間 " %>
                例）月30時間 </td>
            </tr>
            <tr>
              <td class=""><%= f.label :holiday, "休暇・休日" %></td>
              <td class=""><%= f.text_field :holiday, placeholder: "休暇・休日" %>
                例）週休2日制</td>
            </tr>
            <tr>
              <td class=""><%= f.label :annual_holiday, "年間休日" %>日</td>
              <td class=""><%= f.text_field :annual_holiday, placeholder: "年間休日" %>
                例）年間120日</td>
            </tr>
            <tr>
              <td class=""><%= f.label :job_description, "仕事内容" %></td>
              <td class=""> 出来るだけ詳しく仕事の内容をご記入下さい。<br>
               <%= f.text_area :job_description, :size => "100x10", placeholder: "出来るだけ詳しく仕事の内容をご記入下さい。" %></td>
            </tr>
            <tr>
              <td class=""><%= f.label :workflow, "仕事の流れ" %></td>
              <td>
                <%= f.text_area :workflow, :size => "100x10", placeholder: "朝～昼～夕等の業務の流れを出来るだけ詳しくご記入下さい" %></td>
            </tr>
            <tr>
              <td class="" colspan="2">応募条件</td>
            </tr>
            <tr>
              <td class=""><%= f.label :licence, "免許" %></td>
                <span class="">検索結果表示項目</span></td>
              <td class=""><%= f.text_field :licence, placeholder: "licence" %>
                <span class="">大型自動車運転免許</span>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">大型二種自動車運転免許</span><br>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">中型自動車運転免許</span>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">普通自動車運転免許</span>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">普通二種自動車運転免許</span><br>
                その他補足があればご記入下さい<br>
                <input type="text" name="" class="itxt1" value=""></td>
            </tr>
            <tr>
              <td class=""><%= f.label :skill, "資格" %></td>
                <span class="">検索結果表示項目</span></td>
              <td class=""><%= f.text_field :skill, placeholder: "skill" %>
                <span class="">一級自動車整備士</span>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">二級自動車整備士</span>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">三級自動車整備士</span><br>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">特殊整備士</span>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">運行管理者</span>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">倉庫管理者</span><br>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">通関士</span>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">危険物</span>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">フォークリフト</span><br>
                その他補足があればご記入下さい<br>
                <input type="text" name="" class="itxt1" value=""></td>
            </tr>
            <tr>
              <td class=""><%= f.label :qualification, "応募資格" %></td>
              <td class=""><%= f.text_field :qualification, placeholder: "qualification" %>
                <span class="">要経験者</span>
                <input type="radio" name="" value="経験不問">
                <span class="">経験不問</span><br>
                その他補足があればご記入下さい<br>
                <input type="text" name="" class="itxt1" value="">

                <br>
                例）3年以上の経験あり </td>
            </tr>
            <tr>
              <td class=""><%= f.label :age_criteria, "年齢制限" %></td>
              <td class=""><%= f.text_field :age_criteria, placeholder: "age_criteria" %>
                <span class="">年齢制限あり</span>
                <input type="radio" name="" value="年齢不問">
                <span class="">年齢不問</span><br>
                その他補足があればご記入下さい<br>
                <input type="text" name="" class="itxt1" value="">
                <br>
                例）18歳～30歳まで、45歳未満 </td>
            </tr>
            <tr>
              <td class="" rowspan="3">年齢制限理由</td>
            </tr>
            <tr>
              <td class="3_f"><span class="point1">※</span>年齢制限を設ける場合は国の定めにより明確な理由が必要となります。<br>
                詳しくは<a href="http://www.mhlw.go.jp/general/seido/anteikyoku/kourei2/dl/leaflet3.pdf" target="_blank">「年齢指針」</a>をご確認ください。</td>
            </tr>
            <tr>
              <td class=""><input type="checkbox" name="" value="" class="point2">
                <span class="">1.長期勤続によるキャリア形成を図る観点から</span><br>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">2.企業の事業活動の継承や技能、ノウハウ等の継承の観点から</span><br>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">3.有する能力を有効に発揮する為に必要とされる期間または能力の形成の為の期間の観点から</span><br>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">4.年齢を主要な要素として賃金額を定めている就業規則との兼ね合いから</span><br>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">5.特定の年齢層を対象とした商品の販売やサービスの提供等の観点から</span><br>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">6.芸術・芸能の分野における表現の真実性等の要請から</span><br>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">7.労働災害の発生状況から、安全性の確保が必要な為</span><br>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">8.体力、視力等加齢に伴い、その機能が低下するものが業務に支障をきたす恐れがある為</span><br>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">9.行政機関の施策を踏まえ中高年齢者に限定して募集をする為</span><br>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">10.労働基準法の定めにより特定の年齢層の就業等が禁止または制限されている為</span></td>
            </tr>
            <tr>
              <td class="3_b" colspan="2">採用の流れ</td>
            </tr>
            <tr>
              <td class=""><%= f.label :in_charge, "採用担当者" %></td>
              <td class=""><%= f.text_field :in_charge, placeholder: "採用担当者名（例:採用係）" %></td>
            </tr>
            <tr>
              <td class=""><%= f.label :apply_tel, "連絡先電話番号" %></td>
              <td class=""><%= f.text_field :apply_tel, placeholder: "連絡先電話番号" %></td>
            </tr>

            <tr>
              <td><%= f.label :apply_email,  "メールアドレス" %></td>
              <td><%= f.text_field :apply_email, placeholder: "apply_email" %>
            </tr>
            <tr>
              <td class=""><%= f.label :apply_how,  "応募方法"  %></td>
              <td class="">
                <span class="">電話</span>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">FAX</span>
                <input type="checkbox" name="" value="" class="point2">
                <span class="">メール</span>
                <input type="checkbox" name="" value="" class="point2"><br>
                その他補足があればご記入下さい<br>
                <%= f.text_field :apply_how, :size => "100x5",  placeholder: "apply_how" %></td>
            </tr>
            <tr>
              <td><%= f.label :apply_flow,  "応募の流れ"  %><span class="point1">※</span></td>
              <td><%= f.text_area :apply_flow, :size => "100x10" , placeholder: "apply_flow" %></td>
            </tr>
            <tr>
              <td><%= f.label :apply_remarks,  "応募に関する備考"  %></td>
              <td> 履歴書が必要な場合や締め切り条件等出来るだけ詳しくご記入下さい。<br>
               <%= f.text_area :apply_remarks, :size => "100x10", placeholder: "apply_remarks" %></td>
            </tr>
          </tbody>
        </table>
        
      
        
     
        
        
 <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="3_b" colspan="4">PR写真</td>
            </tr>
            <tr>
              <td class="3_f" colspan="4">データ容量［500KB以下］、データ形式［jpg,gif,png］を推奨とします。</td>
            </tr>
            <tr>
              <td><%= f.label :limage,  "メインイメージ"  %></td>
              <td>
                <%= f.file_field :limage %>
              </td>
            </tr>
            <tr>
              <td><%= f.label :image1,  "イメージ１"  %></td>              
              <td><%= f.file_field :image1 %></td>
            </tr>
            <tr>
              <td><%= f.label :image2,  "イメージ２"  %></td>              
              <td><%= f.file_field :image2 %></td>
            </tr>
            <tr>              
              <td><%= f.label :image3,  "イメージ３"  %></td>
              <td><%= f.file_field :image3 %></td>
            </tr>
            <tr>              
              <td><%= f.label :image4,  "イメージ４" %></td>
              <td><%= f.file_field :image4 %></td>
            </tr>
    
          </tbody>
        </table>


<!---checkbox -->  


  <div class="field">
    <%= f.label :専門領域1 %><br />
    <%= collection_check_boxes(:campaign, :category_ids, Category.where("genre1 = '1'"), :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
  </div>    
  
  <div class="field">
    <%= f.label :専門領域2 %><br />
    <%= collection_check_boxes(:campaign, :category_ids, Category.where("genre1 = '2'"), :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
  </div>     

 <div class="field">
    <%= f.label :専門領域3 %><br />
    <%= collection_check_boxes(:campaign, :category_ids, Category.where("genre1 = '3'"), :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
  </div>       
  

<!---checkbox -->  
<p>  表示フラグ<%= f.check_box :opflg %></p>   
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
<% end %>

  </div>
</div>
