<% if client_logged_in? %>
<%= nested_form_for @campaign, :html => {:multipart => true} do |f| %> 

  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :title, placeholder: "Compose new micropost..." %>
  </div>

<!---data picker -->

<div class='input-group date datepicker4'>
<%= f.label :スタート予定日 %>
<%= f.text_field :startdate, :class => 'datepicker4' %>
</div>

<div class='input-group date datepicker4'>
<%= f.label :終了予定日 %>
<%= f.text_field :enddate, :class => 'datepicker4' %>
</div>

<!---data picker -->  

<div class="field"><%= f.text_area :summary, placeholder: "Compose new micropost..." %></div>
<div class="field"><%= f.text_area :content, placeholder: "Compose new micropost..." %></div>
<p>
<label class="control-label">Select File</label>
<input id="input-1" type="file" class="file">
<%= f.file_field :limage %></p>  
<p><%= f.file_field :image1 %></p>  
<p><%= f.file_field :image2 %></p>  
<p><%= f.file_field :image3 %></p>  
<p><%= f.file_field :image4 %></p>    
<p>  表示フラグ<%= f.check_box :opflg, { :checked => true } %></p>    
<!---checkbox -->  


  <div class="field">
    <%= f.label :専門領域 %><br />
    <%= collection_check_boxes(:campaign, :category_ids, Category.all, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
  </div>    

<!---checkbox -->  

  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
<% end %>



