<% if current_admin != nil %>

私は<%= current_admin.name %>です。

<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<pre class="prettyprint">
Genre1  
   <span class="">ジャンル「１」－－－職種</span>
   <span class="">ジャンル「２」－－－免許</span>
   <span class="">ジャンル「３」－－－資格</span>  
   
Genre2
   <span class="">ジャンル「1-1」－－－職種</span>
   <span class="">ジャンル「2-1」－－－免許</span>
   <span class="">ジャンル「3-1」－－－資格</span>  
   
</pre>





<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td>ネーム：<%= category.name %></td>
        <td>ジャンル1：<%= category.genre1 %></td>
        <td>ジャンル2：<%= category.genre2 %></td>        
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
<% else %>
私は<%= current_admin.name %>です。
  <script type="text/javascript">
    window.location.href="/"  // put your correct path in a string here
  </script>

<% end %>