<!DOCTYPE html>
<html>
<head>
  <title>Matching</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/header' %>
    <div class="container">
 
       <% flash.each do |message_type, message| %> <!-- ここから -->
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %> <!-- ここまで追加 -->
    <%= breadcrumbs pretext: "You are here: ", display_single_fragment: true, style: :bootstrap %>
    
      <%= yield %>

    </div>
        <%= render 'layouts/footer' %>

</body>
</html>
